
.Maindaitory
{
	color:red; font-size: .9em; font-weight:bold;
}

#fg_membersite .errors { font-size: .8em; background-color : transparent; color:red; font-weight:bold; margin-left:10px; }

#fgticketsite .errors { font-size: .8em; background-color : transparent; color:red; font-weight:bold; margin-left:10px; }


